# Project 3

In this project, you will perform a logistic regression on the admissions data we've been working with in projects 1 and 2.

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
import pylab as pl
import numpy as np

/Users/chandler/anaconda2/lib/python2.7/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
df_raw = pd.read_csv("../assets/admissions.csv")
df = df_raw.dropna() 
print df.head()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

## Part 1. Frequency Tables

#### 1. Let's create a frequency table of our variables relative to whether someone got admitted or not. Think in terms of for a certain prestige level, how many people got admitted and didnt get admitted

In [3]:
# frequency table for prestige and whether or not someone was admitted
df[['prestige', 'admit']].groupby("prestige").sum()

          admit
prestige
1.0          33
2.0          53
3.0          28
4.0          12

## Part 2. Return of dummy variables

#### 2.1 Create class or dummy variables for prestige

In [4]:
df_dum = pd.get_dummies(df.prestige, prefix='prestige')
data = df[['admit', 'gre', 'gpa']].join(df_dum[['prestige_1.0', 'prestige_2.0', 'prestige_3.0']])
data.head()

   admit    gre   gpa  prestige_1.0  prestige_2.0  prestige_3.0
0      0  380.0  3.61             0             0             1
1      1  660.0  3.67             0             0             1
2      1  800.0  4.00             1             0             0
3      1  640.0  3.19             0             0             0
4      0  520.0  2.93             0             0             0

#### 2.2 When modeling our class variables, how many do we need?

Answer: 3

## Part 3. Hand calculating odds ratios

Develop your intuition about expected outcomes by hand calculating odds ratios.

In [5]:
cols_to_keep = ['admit', 'gre', 'gpa']
handCalc = df[cols_to_keep].join(df_dum.loc[:, 'prestige_1.0':])
print handCalc.head()

   admit    gre   gpa  prestige_1.0  prestige_2.0  prestige_3.0  prestige_4.0
0      0  380.0  3.61             0             0             1             0
1      1  660.0  3.67             0             0             1             0
2      1  800.0  4.00             1             0             0             0
3      1  640.0  3.19             0             0             0             1
4      0  520.0  2.93             0             0             0             1

In [6]:
# crosstab prestige 1 admission 
# frequency table cutting prestige and whether or not someone was admitted
prest_1 = pd.crosstab(handCalc['prestige_1.0'], handCalc[ 'admit'])
prest_1

admit           0   1
prestige_1.0
0             243  93
1              28  33

#### 3.1 Use the cross tab above to calculate the odds of being admitted to grad school if you attended a #1 ranked college

In [7]:
odds_1 = prest_1.loc[1][1] / float(prest_1.loc[1][1] + prest_1.loc[1][0])
odds_1

0.54098360655737709

#### 3.2 Now calculate the odds of admission if you did not attend a #1 ranked college

In [8]:
odds_other = prest_1.loc[0][1] / float(prest_1.loc[0][1] + prest_1.loc[0][0])
odds_other

0.2767857142857143

#### 3.3 Calculate the odds ratio

In [ ]:
#above?

#### 3.4 Write this finding in a sentenance:

Answer: I am not sure what the difference was for what i was trying to find?

#### 3.5 Print the cross tab for prestige_4

In [9]:
prest_4 = pd.crosstab(handCalc['prestige_4.0'], handCalc[ 'admit'])
prest_4

admit           0    1
prestige_4.0
0             216  114
1              55   12

#### 3.6 Calculate the OR

In [27]:
odds_4 = prest_4.loc[1][1] / float(prest_4.loc[1][1] + prest_4.loc[1][0])
odds4r = odds_4/(1-odds_4)
odds4r

0.21818181818181817

#### 3.7 Write this finding in a sentence

Answer: The odds ratio is ~17%.

## Part 4. Analysis

In [11]:
# create a clean data frame for the regression
cols_to_keep = ['admit', 'gre', 'gpa']
data = df[cols_to_keep].join(df_dum.loc[:, 'prestige_2.0':])
print data.head()

   admit    gre   gpa  prestige_2.0  prestige_3.0  prestige_4.0
0      0  380.0  3.61             0             1             0
1      1  660.0  3.67             0             1             0
2      1  800.0  4.00             0             0             0
3      1  640.0  3.19             0             0             1
4      0  520.0  2.93             0             0             1

We're going to add a constant term for our Logistic Regression. The statsmodels function we're going to be using requires that intercepts/constants are specified explicitly.

In [12]:
# manually add the intercept
data['intercept'] = 1.0

#### 4.1 Set the covariates to a variable called train_cols

In [13]:
train_cols = data.columns[1:]

#### 4.2 Fit the model

In [14]:
logit = sm.Logit(data['admit'], data[train_cols])
result= logit.fit()

Optimization terminated successfully.
         Current function value: 0.573854
         Iterations 6

#### 4.3 Print the summary results

In [15]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  397
Model:                          Logit   Df Residuals:                      391
Method:                           MLE   Df Model:                            5
Date:                Mon, 13 Nov 2017   Pseudo R-squ.:                 0.08166
Time:                        22:11:15   Log-Likelihood:                -227.82
converged:                       True   LL-Null:                       -248.08
                                        LLR p-value:                 1.176e-07
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
gre              0.0022      0.001      2.028      0.043    7.44e-05       0.004
gpa              0.7793      0.333      2.344      0.019       0.128       1.431
prestige_2.0    -0.6801      0.317     -2.146      0.032      -1.301      -0.059
prestige_3.0    -1.3387      0.345     -3.882      0.000      -2.015      -0.663
prestige_4.0    -1.5534      0.417     -3.721      0.000      -2.372      -0.735
intercept       -3.8769      1.142     -3.393      0.001      -6.116      -1.638
================================================================================
"""

#### 4.4 Calculate the odds ratios of the coeffiencents and their 95% CI intervals

hint 1: np.exp(X)

hint 2: conf['OR'] = params
        
           conf.columns = ['2.5%', '97.5%', 'OR']

In [18]:
result.conf_int()
params = result.params
conf = result.conf_int()
conf['OR'] = params
conf.columns = ['2.5%', '97.5%', 'OR']
np.exp(conf)

                  2.5%     97.5%        OR
gre           1.000074  1.004372  1.002221
gpa           1.136120  4.183113  2.180027
prestige_2.0  0.272168  0.942767  0.506548
prestige_3.0  0.133377  0.515419  0.262192
prestige_4.0  0.093329  0.479411  0.211525
intercept     0.002207  0.194440  0.020716

In [17]:
np.exp(result.params)

gre             1.002221
gpa             2.180027
prestige_2.0    0.506548
prestige_3.0    0.262192
prestige_4.0    0.211525
intercept       0.020716
dtype: float64

#### 4.5 Interpret the OR of Prestige_2

Answer: The odds of getting into a grad school from a prestige 2 undergrad school is 50.65% of the prestige one school

#### 4.6 Interpret the OR of GPA

Answer: for every unit of increase in GPA the odds increase of being admitted by roughly 2.

## Part 5: Predicted probablities

As a way of evaluating our classifier, we're going to recreate the dataset with every logical combination of input values. This will allow us to see how the predicted probability of admission increases/decreases across different variables. First we're going to generate the combinations using a helper function called cartesian (above).

We're going to use np.linspace to create a range of values for "gre" and "gpa". This creates a range of linearly spaced values from a specified min and maximum value--in our case just the min/max observed values.

In [19]:
def cartesian(arrays, out=None):
    """
    Generate a cartesian product of input arrays.
    Parameters
    ----------
    arrays : list of array-like
        1-D arrays to form the cartesian product of.
    out : ndarray
        Array to place the cartesian product in.
    Returns
    -------
    out : ndarray
        2-D array of shape (M, len(arrays)) containing cartesian products
        formed of input arrays.
    Examples
    --------
    >>> cartesian(([1, 2, 3], [4, 5], [6, 7]))
    array([[1, 4, 6],
           [1, 4, 7],
           [1, 5, 6],
           [1, 5, 7],
           [2, 4, 6],
           [2, 4, 7],
           [2, 5, 6],
           [2, 5, 7],
           [3, 4, 6],
           [3, 4, 7],
           [3, 5, 6],
           [3, 5, 7]])
    """

    arrays = [np.asarray(x) for x in arrays]
    dtype = arrays[0].dtype

    n = np.prod([x.size for x in arrays])
    if out is None:
        out = np.zeros([n, len(arrays)], dtype=dtype)

    m = n / arrays[0].size
    out[:,0] = np.repeat(arrays[0], m)
    if arrays[1:]:
        cartesian(arrays[1:], out=out[0:m,1:])
        for j in xrange(1, arrays[0].size):
            out[j*m:(j+1)*m,1:] = out[0:m,1:]
    return out

In [20]:
# instead of generating all possible values of GRE and GPA, we're going
# to use an evenly spaced range of 10 values from the min to the max 
gres = np.linspace(data['gre'].min(), data['gre'].max(), 10)
print gres
# array([ 220.        ,  284.44444444,  348.88888889,  413.33333333,
#         477.77777778,  542.22222222,  606.66666667,  671.11111111,
#         735.55555556,  800.        ])
gpas = np.linspace(data['gpa'].min(), data['gpa'].max(), 10)
print gpas
# array([ 2.26      ,  2.45333333,  2.64666667,  2.84      ,  3.03333333,
#         3.22666667,  3.42      ,  3.61333333,  3.80666667,  4.        ])


# enumerate all possibilities
combos = pd.DataFrame(cartesian([gres, gpas, [1, 2, 3, 4], [1.]]))

[ 220.          284.44444444  348.88888889  413.33333333  477.77777778
  542.22222222  606.66666667  671.11111111  735.55555556  800.        ]
[ 2.26        2.45333333  2.64666667  2.84        3.03333333  3.22666667
  3.42        3.61333333  3.80666667  4.        ]

#### 5.1 Recreate the dummy variables

In [24]:
# recreate the dummy variables
# keep only what we need for making predictions

         0         1    2    3
0    220.0  2.260000  1.0  1.0
1    220.0  2.260000  2.0  1.0
2    220.0  2.260000  3.0  1.0
3    220.0  2.260000  4.0  1.0
4    220.0  2.453333  1.0  1.0
5    220.0  2.453333  2.0  1.0
6    220.0  2.453333  3.0  1.0
7    220.0  2.453333  4.0  1.0
8    220.0  2.646667  1.0  1.0
9    220.0  2.646667  2.0  1.0
10   220.0  2.646667  3.0  1.0
11   220.0  2.646667  4.0  1.0
12   220.0  2.840000  1.0  1.0
13   220.0  2.840000  2.0  1.0
14   220.0  2.840000  3.0  1.0
15   220.0  2.840000  4.0  1.0
16   220.0  3.033333  1.0  1.0
17   220.0  3.033333  2.0  1.0
18   220.0  3.033333  3.0  1.0
19   220.0  3.033333  4.0  1.0
20   220.0  3.226667  1.0  1.0
21   220.0  3.226667  2.0  1.0
22   220.0  3.226667  3.0  1.0
23   220.0  3.226667  4.0  1.0
24   220.0  3.420000  1.0  1.0
25   220.0  3.420000  2.0  1.0
26   220.0  3.420000  3.0  1.0
27   220.0  3.420000  4.0  1.0
28   220.0  3.613333  1.0  1.0
29   220.0  3.613333  2.0  1.0
..     ...       ...  ...  ...
370  800.0  2.646667  3.0  1.0
371  800.0  2.646667  4.0  1.0
372  800.0  2.840000  1.0  1.0
373  800.0  2.840000  2.0  1.0
374  800.0  2.840000  3.0  1.0
375  800.0  2.840000  4.0  1.0
376  800.0  3.033333  1.0  1.0
377  800.0  3.033333  2.0  1.0
378  800.0  3.033333  3.0  1.0
379  800.0  3.033333  4.0  1.0
380  800.0  3.226667  1.0  1.0
381  800.0  3.226667  2.0  1.0
382  800.0  3.226667  3.0  1.0
383  800.0  3.226667  4.0  1.0
384  800.0  3.420000  1.0  1.0
385  800.0  3.420000  2.0  1.0
386  800.0  3.420000  3.0  1.0
387  800.0  3.420000  4.0  1.0
388  800.0  3.613333  1.0  1.0
389  800.0  3.613333  2.0  1.0
390  800.0  3.613333  3.0  1.0
391  800.0  3.613333  4.0  1.0
392  800.0  3.806667  1.0  1.0
393  800.0  3.806667  2.0  1.0
394  800.0  3.806667  3.0  1.0
395  800.0  3.806667  4.0  1.0
396  800.0  4.000000  1.0  1.0
397  800.0  4.000000  2.0  1.0
398  800.0  4.000000  3.0  1.0
399  800.0  4.000000  4.0  1.0

[400 rows x 4 columns]

#### 5.2 Make predictions on the enumerated dataset

#### 5.3 Interpret findings for the last 4 observations

Answer: Not sure what you wanted from the above?

## Bonus

Plot the probability of being admitted into graduate school, stratified by GPA and GRE score.